<app-loading [condition]="isLoading"></app-loading>
<app-toast [message]="toast.message"></app-toast>

<!-- List of admin actions -->
<div class="card">
  <h4 class="card-header">Actions</h4>
  <div class="card-block">
    <!-- List of users -->
    <table class="table table-bordered table-striped">
      <tbody>
      <tr>
        <td>Create a new News Post for the front page</td>
        <td>
          <button class="btn btn-sm btn-success"
                  (click)="doCreateNewsPost()"
                  title="create news story">
            <i class="fa fa-bullhorn"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="verticalSpacer"></div>

<div class="card" *ngIf="!isLoading">
  <h4 class="card-header">Registered users ({{authorisedUsers.length}})</h4>
  <div class="card-block">
    <!-- List of users -->
    <table class="table table-bordered table-striped">
      <thead class="thead-default">
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody *ngIf="authorisedUsers.length === 0">
      <tr>
        <td colspan="4">There are no registered users.</td>
      </tr>
      </tbody>
      <tbody>
      <tr *ngFor="let user of authorisedUsers">
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.role}}</td>
        <td>
          <button class="btn btn-sm btn-danger" (click)="deleteUser(user)"
                  [disabled]="auth.currentUser._id === user._id"
                  title="delete">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="verticalSpacer"></div>

<div class="card" *ngIf="!isLoading">
  <h4 class="card-header">User requests ({{unauthorisedUsers.length}})</h4>
  <div class="card-block">
    <!-- List of users -->
    <table class="table table-bordered table-striped">
      <thead class="thead-default">
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody *ngIf="unauthorisedUsers.length === 0">
      <tr>
        <td colspan="4">There are no users awaiting approval.</td>
      </tr>
      </tbody>
      <tbody>
      <tr *ngFor="let user of unauthorisedUsers">
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.role}}</td>
        <td>
          <button class="btn btn-sm btn-danger" (click)="deleteUser(user)"
                  [disabled]="auth.currentUser._id === user._id"
                  title="delete">
            <i class="fa fa-trash"></i>
          </button>
          <span class="horizontalSpacer5px"></span>
          <button class="btn btn-sm btn-info" (click)="authoriseUser(user)"
                  [disabled]="auth.currentUser._id === user._id"
                  title="approve">
            <i class="fa fa-thumbs-up"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>



