<app-loading [condition]="isLoading"></app-loading>
<app-toast [message]="toast.message"></app-toast>

<div class="card" *ngIf="!isLoading">
  <h4 class="card-header">Gimmies ({{gimmies.length}})
  </h4>
  <div>

    <mat-table [dataSource]="dataSource">

      <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>

      <mat-row *matRowDef="let privateMessages; columns: columnsToDisplay"></mat-row>

      <ng-container matColumnDef="userId">
        <mat-header-cell *matHeaderCellDef>User</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span [className]="row.currentData.read=='n' ? 'unreadGimmie' : 'readGimmie'">{{row.currentData.userId}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span (click)="goVeiwPost(row)"
            [className]="row.currentData.read=='n' ? 'unreadGimmieDescription' : 'readGimmieDescription'">{{row.currentData.Post.description}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="from">
        <mat-header-cell *matHeaderCellDef>From</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span [className]="row.currentData.read=='n' ? 'unreadGimmie' : 'readGimmie'">{{row.currentData.Post.from}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="dateTimeRequested">
        <mat-header-cell *matHeaderCellDef>Gimmie Date/Time</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span [className]="row.currentData.read=='n' ? 'unreadGimmie' : 'readGimmie'">{{row.currentData.dateTimeRequested| date:"dd:MMM:yyyy hh-mm"}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>

        <mat-cell *matCellDef="let row">
          <span class="actionSpan" (click)="setModalData(row)">
            <mat-icon-button class="fa fa-reply" title="Private Message"></mat-icon-button>
          </span>
          <ng-container *ngIf="row.currentData.read=='n'">
          <span class="actionSpan" (click)="handleMarkGimmieAsRead(row)">
            <mat-icon-button class="fa fa-check" title="Mark as read"></mat-icon-button>
          </span>
          </ng-container>
          <ng-container *ngIf="row.currentData.read=='y'">
            <span class="actionSpanDisabled">
            <mat-icon-button class="fa fa-check" title="You've read this one"></mat-icon-button>
          </span>
          </ng-container>
          <span class="actionSpan" (click)="handleDeleteGimmie(row)">
            <mat-icon-button class="fa fa-trash" title="Delete"></mat-icon-button>
          </span>

        </mat-cell>
      </ng-container>

    </mat-table>

    <!-- Modal Dialog -->
    <ngx-smart-modal [closable]="false" [escapable]="true" #myModal [identifier]="'myModal'">
      <h3>Message for <span>{{this.replyToUser}}</span></h3>
      <div>
        <!-- Textarea -->
        <textarea id="privateMessageText" class="privateMessageTextArea"></textarea>
        <div class="privateMessageButtonContainer">
          <button (click)="cancelPrivateMessage()" class="privateMessageCloseButton">Cancel</button>
          <button (click)="handlePrivateMessage()" class="privateMessageDoneButton">Done</button>
        </div>
      </div>
    </ngx-smart-modal>

  </div>
</div>
