<app-loading [condition]="isLoading"></app-loading>
<app-toast [message]="toast.message"></app-toast>

<div class="card" *ngIf="!isLoading">
  <h4 class="card-header">Posts ({{posts.length}})
    <button *ngIf="auth.loggedIn && auth.isAdmin" style="width:100px"
            (click)="goCreatePost()"><i
      class="fa fa-id-card"></i> New
    </button>
    <button [disabled]="this.isNoneSelected()" (click)="getDateTimeForSchedule()"> Schedule</button>
    <span class="actionSpan" (click)="showHideScheduledPosts()">
    <mat-icon-button class="fa fa-filter"
                     title="Toggle between scheduled/unscheduled posts"></mat-icon-button>
    </span>
    <span class="horizontalSpacer5px"></span>
    <span>
      <label id="unscheduledPostsOnly" class="isFiltered">Unscheduled</label>
    </span>

  </h4>
  <div>

    <mat-table [dataSource]="dataSource">
      <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
      <mat-row *matRowDef="let posts; columns: columnsToDisplay"></mat-row>

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </mat-header-cell>

        <mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null; selectPostRow(row, selection.isSelected(row))"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>

        <mat-cell *matCellDef="let row">
          <span class="actionSpan" (click)="goEditPost(row)">
            <mat-icon-button class="fa fa-pencil" title="Edit"></mat-icon-button>
          </span>
          <span class="actionSpan" (click)="goVeiwPost(row)">
            <mat-icon-button class="fa fa-tags" title="View"></mat-icon-button>
          </span>
          <span class="actionSpan" (click)="deletePost(row)">
            <mat-icon-button class="fa fa-trash" title="Delete"></mat-icon-button>
          </span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.currentData.description}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="from">
        <mat-header-cell *matHeaderCellDef>From</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.currentData.from }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="size">
        <mat-header-cell *matHeaderCellDef>Size</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.currentData.size}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
        <mat-cell *matCellDef="let row">£ {{row.currentData.price}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="postId">
        <mat-header-cell *matHeaderCellDef> Post_ID</mat-header-cell>
        <mat-cell *matCellDef="let row">£ {{row.currentData.postId}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="dateTimePublish">
        <mat-header-cell *matHeaderCellDef>Publish Date/Time</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.currentData.dateTimePublish | date:"dd:MMM:yyyy hh-mm"}}

        </mat-cell>
      </ng-container>
    </mat-table>

    <ngx-smart-modal [closable]="false" [escapable]="true" #myModal [identifier]="'myModal'">
      <div class="spDatePicker">
        <app-calendar-control #bscalendar></app-calendar-control>
      </div>
      <button [disabled]="!doneButtonEnabled()" (click)="setScheduleDateAndTime();">Done</button>
    </ngx-smart-modal>
  </div>
</div>
