<app-loading [condition]="isLoading"></app-loading>
<app-toast [message]="toast.message"></app-toast>

<div class="card" *ngIf="!isLoading">
  <h4 class="card-header">Posts ({{posts.length}})
  </h4>
  <div class="card-block">
    <table class="table table-bordered table-striped">
      <thead class="thead-default">
      <tr>
        <th>Description</th>
        <th>From</th>
        <th>Size</th>
        <th>Price</th>
        <th>Photos</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody *ngIf="this.posts.length === 0">
      <tr>
        <td colspan="4">Nothing yet!</td>
      </tr>
      </tbody>
      <tbody *ngIf="!isEditing">
      <tr *ngFor="let post of this.posts">
        <td>{{post.description}}</td>
        <td>{{post.from}}</td>
        <td>{{post.size}}</td>
        <td>{{post.price}}</td>
        <td>{{post.photos.length}}</td>
        <td>
          <button *ngIf="auth.loggedIn" class="btn btn-sm btn-primary" style="width:70px" (click)="goVeiwPost(post._id)"><i
            class="fa fa-tags"></i> View
          </button>
          <button *ngIf="auth.loggedIn" class="btn btn-sm btn-secondary" style="width:70px" (click)="removePost(post)">
            <i
              class="fa fa-trash"></i>Remove
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
