<app-loading [condition]="isLoading"></app-loading>
<app-toast [message]="toast.message"></app-toast>
<div class="card">
  <div class="card-block">
    <h4 class="card-title">{{pageTitle}}</h4>
    <div class='container'>
      <form (ngSubmit)="save()" class="form-vertical" [formGroup]="postForm">
        <fieldset>

          <!-- Textarea -->
          <div class="form-group row">
            <label class="col-md-4 control-label text-lg-right" for="description">Description</label>
            <div class="col-md-4">
              <textarea id="description"
                        class="form-control"
                        formControlName="description"></textarea>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group row">
            <label class="col-md-4 control-label text-lg-right" for="from">From</label>
            <div class="col-md-5">
              <input id="from"
                     type="text"
                     class="form-control input-md"
                     required=""
                     formControlName="from">

            </div>
          </div>

          <!-- Text input-->
          <div class="form-group row">
            <label class="col-md-4 control-label text-lg-right" for="size">Size</label>
            <div class="col-md-2">
              <input id="size"
                     type="text"
                     placeholder="Size"
                     class="form-control input-md"
                     required=""
                     formControlName="size">

            </div>
          </div>

          <!-- Text input-->
          <div class="form-group row">
            <label class="col-md-4 control-label text-lg-right" for="price">Price</label>
            <div class="col-md-2">
              <input id="price"
                     type="text"
                     placeholder="£"
                     class="form-control input-md"
                     required=""
                     value=""
                     formControlName="price">

              <!-- Invisible input for photos -->
              <input id="photos"
                     type="hidden"
                     formControlName="photos">

            </div>
          </div>

          <!-- File Button -->
          <div class="form-group row">
            <label id="filebuttonlabel" name="filebuttonlabel" class="col-md-4 control-label text-lg-right"
                   for="filebutton">Choose Pictures</label>
            <div class="col-md-4">
              <input id="filebutton"
                     name="filebutton"
                     class="input-file"
                     type="file"
                     (change)="handleFileInput($event.target.files)" multiple>
            </div>
          </div>
        </fieldset>

        <!-- File List -->
        <div *ngIf="showPhotoPanel" id="photoContainer" align="center" style="align-content: left">
          <div id="accordion" role="tablist">
            <div class="card" style="width: 50%">
              <div class="card-header" role="tab" id="headingOne">
                <h5 class="mb-0" align="left">
                  Photos ({{numberOfFiles}})
                </h5>
              </div>
              <ul class="photoList" *ngFor="let photo of post.photos; let p = index">
                <li>
                  <span class="photoListItem"><span><i class="fa fa-external-link"></i></span>
                    <span class="photoListSpacer"></span><span (click)="openPhoto(photo)">{{photo}}</span></span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!--Save, Back and Preview Buttons -->
  <div class="card-footer" align="center">
    <div class="btn-group row" role="group" aria-label="Basic example">
      <button type="button"
              class="btn btn-secondary"
              (click)='preview()'
              [disabled]="!postForm.valid">Preview
      </button>
      <button type="button"
              class="btn btn-primary"
              (click)='save()'
              [disabled]="!postForm.valid">Save
      </button>
      <button type="button"
              class="btn btn-secondary"
              (click)='cancel()'>Back
      </button>
    </div>
  </div>
</div>
