<app-loading [condition]="isLoading"></app-loading>
<div *ngIf="!isLoading" class="card">
  <h4 class="card-header">{{pageTitle}}</h4>
  <div class="centredBlock">
    <div class="card-block" class="previewCardBlock">
      <div class='container'>
        <form class="form-vertical" [formGroup]="postForm">
          <fieldset>
            <input type="hidden" formControlName="photos">
          </fieldset>
        </form>
      </div>

      <!--<app-carousel [photos]="this.post.photos"></app-carousel>-->
      <app-carousel [photos]="this.post.photos"></app-carousel>
    </div>
    <div class="postDetsContainer">
      <div class="postDets">
        <div>{{ this.post.description}}</div>
        <div><span>From: </span>{{ this.post.from}}</div>
        <div><span>Size: </span>{{ this.post.size}}</div>
        <div><span>Price: £</span>{{ this.post.price}}</div>
      </div>
      <div class="verticalSpacer"></div>
      <button type="button"
              class="btn btn-info"
              (click)='claim()'><span *ngIf="!this.gimmied">Yes please!</span><span
        *ngIf="this.gimmied">Requested</span>
      </button>
    </div>
  </div>

  <!-- Modal Dialog -->
  <ngx-smart-modal [closable]="false" [escapable]="true" #myModal [identifier]="'myModal'">
    <h3>Message for Susie</h3>
    <div>
      <!-- Textarea -->
      <textarea id="privateMessageText" class="privateMessageTextArea"></textarea>
      <div class="privateMessageButtonContainer">
        <button (click)="myModal.close()" class="privateMessageCloseButton">Cancel</button>
        <button (click)="handlePrivateMessage()" class="privateMessageDoneButton">Done</button>
      </div>
    </div>
  </ngx-smart-modal>

  <!--Save, Back and Private Message Buttons -->
  <div class="card-footer" align="center">
    <div class="btn-group row" role="group">
      <button type="button"
              class="btn btn-secondary"
              (click)='goBack()'>Back
      </button>
      <span class="horizontalSpacer"></span>
      <button type="button"
              class="btn btn-secondary"
              (click)='privateMessage()'>Private Message
      </button>
      <!--<button type="button"-->
      <!--class="btn btn-info"-->
      <!--(click)='debug()'>debug-->
      <!--</button>-->
    </div>
  </div>
</div>
